html, body {
  margin: 0;
  padding: 0;
}

html {
  font-size: 9px;
 /* background-color: black;*/
    
    background: url('https://images.pexels.com/photos/3787324/pexels-photo-3787324.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940') no-repeat center fixed;     
    background-size: cover;

   
}

body {
    
  width: 70%;
  margin: 0 auto;
}

/* || typography */

h1, h2, h3 {
  font-family: 'Sonsie One', cursive;
  color: #2a2a2a;
}

h1.name{
  font-size: 25px;
  color: white;
}

h1.name:hover{
  color: black;
}

p, input, li {
  font-family: 'Open Sans Condensed', sans-serif;
  color: #2a2a2a;
}

h1 {
  font-size: 4rem;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 10px black;
}

h2 {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 16px;;
  text-align: center;
}

h3 {
  font-size: 16px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: center;
  padding-top: 10px;
}

 li {
  font-size: 1.6rem;
  line-height: 1.5;
}

p{
  font-size: 13px;
  text-align: center;
  line-height: 1.7;
}

/* || header layout */

nav, article, aside, footer {
  background-color: white;
  padding: 1%;
  
}

nav {
  height: 50px;
  background-color: whitesmoke;
  display: flex;
  margin-bottom: 20px;
  opacity: 0.95;
}


nav ul {
  padding: 0;
  list-style-type: none;
  flex: 2;
  display: flex;
}

nav li {
  display: inline;
  text-align: center;
  flex: 1;
}

nav :hover {
color: cadetblue;
}

nav p {
  display: inline-block;
  font-size: 13px;
  text-decoration: none;
  color: gray;
}


/* || main layout */

main {
  display: flex;
  opacity: 0.85;
}

article {
  flex: 4;
}

aside {
  flex: 1;
  margin-left: 15px;
  background-color: white;
  opacity: 0.95;
}

aside :hover {
color: tan;
}

aside li {
  padding-bottom: 20px;
}

footer {
  margin-top: 50px;
  text-align: center;
  opacity: 0.90;
}
